<div class="container" align="center">


  <div class="row">
    <div style="background-color: #18BC9C;padding-bottom: 10px;padding-top: 10px">
      <div style="font-size: 50px; padding-left: 50px">
        <%= image_tag "profile.png" %>
        中国科学院大学在线选课系统
      </div>

    </div>

    <div style="font-family: Times">
      <h1>University of Chinese Academy of Sciences</h1>
      <h1>博学笃志 格物明德</h1>

    </div>

  </div>

  


  
